---
import Layout from '../../layouts/Layout.astro';
import * as dbquery from '../../script/dbquery.js';
import {baseUri, idFrag, apiGet} from '../../script/util.js';

const json = await apiGet("references");

---
<Layout title="References">
<p><a href="#guidelines">Guidelines</a> | <a href="#research">Research</a></p>
	<section id="guidelines">
		<h2>Guidelines</h2>
		<table>
			<thead>
				<tr><th scope="col">Reference URI</th><th scope="col">Note</th><th scope="col">Used in</th></tr>
			</thead>
			<tbody>
				{json.map((reference) => reference.refType == "guidelines" ? <tr><td><a href={reference.refIRI}>{reference.refIRI}</a></td><td>{reference.refNote}</td><td><a href={baseUri + 'guidance-statements/' + idFrag(reference.stmtId)}>{reference.stmtLabel}</a></td></tr> : "")}
			</tbody>
		</table>
	</section>
	<section id="research">
		<h2>Research</h2>
	</section>
	<table>
		<thead>
			<tr><th scope="col">Reference URI</th><th scope="col">Note</th><th scope="col">Used in</th></tr>
		</thead>
		<tbody>
				{json.map((reference) => reference.refType == "research" ? <tr><td><a href={reference.refIRI}>{reference.refIRI}</a></td><td>{reference.refNote}</td><td><a href={baseUri + 'guidance-statements/' + idFrag(reference.stmtId)}>{reference.stmtLabel}</a></td></tr> : "")}
		</tbody>
	</table>
</Layout>

