---
import Layout from '../../layouts/Layout.astro';
import {baseUri, idFrag, mdToHtml, apiGet} from '../../script/util.js';

export async function getStaticPaths() { 
	const module = await import('./ids.js');
	const {ids} = module;
	return (ids);
}

export async function getStaticPaths() { 
	const module = await import('./ids.js');
	const {ids} = module;
	return (ids);
}

const {id} = Astro.params;

const json = await apiGet ("statements/" + id);

let rm = new Array();
json[0].mappings.forEach(async function(mapping) {
	let detail = apiGet("mappings/" + idFrag(mapping.id));
	rm.push(detail);
});
const richerMappings = new Array();//await Promise.all(rm);


---
<style is:global>
.stmt {
	font-weight: bold;
}
main {
	padding-left: 3em;
}
h2, h3, h4, h5, h6 {
	position: relative;
	left: -2em;
}
</style>
<Layout title={json[0].label}>
	<p class="stmt">{json[0].stmt}</p>
	{typeof json[0].note !== 'undefined' && json[0].note != null ? <Fragment set:html={"<h2>Notes</h2>" + mdToHtml(json[0].note)}></Fragment> : ""}
	<h2>Supports</h2>
	<table>
		<thead>
			<tr><th>Functional need</th><th>User need</th><th>Context</th></tr>
		</thead>
		<tbody>
			{richerMappings.map((item) => <tr><td><a href={baseUri + (typeof item.functionalNeed === 'undefined' ? "intersection-needs/" : "functional-needs/" ) + idFrag(item.functionalNeed.id)}>{item.functionalNeed.label}</a></td><td><a href={baseUri + 'user-needs/' + idFrag(item.userNeed.id)}>{item.userNeed.label}</a></td><td><a href={baseUri + 'user-need-contexts/' + idFrag(item.userNeedRelevance.id)}>{item.userNeedRelevance.label}</a></td></tr>)}
		</tbody>
	</table>
	<h2>References</h2>
	<ul>
		{json[0].references.map((item) => <li>{item.type}: <a href={item.iri}>{item.note}</a></li>)}
	</ul>
	<h2>Tags</h2>
	<ul>
		{json[0].tags.map((item) => <li><a href={baseUri + 'tags/' + idFrag(item.id)}>{item.label}</a></li>)}
	</ul>
	<p>Imported from <a href={json[0].contentIRI}>{json[0].contentIRI}</a></p>
</Layout>
